/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar-brand > img {
  display: initial;
}

#blog-post img {
  max-width: 100%;
  display: block;
  margin: auto;
}
